
body, html {
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    margin-top:1%;
    }
header {
    font-size:larger;
}

#btn {
    background-color: #3f89b9;
    color: rgb(247, 252, 251);
    margin-bottom: 20px;
   
}

.left-column {
    background: linear-gradient(to bottom, #c2dfe9 3%, #64aed8 100%)
}
.top-column {
    border-bottom: solid #111;
}

.single {
    background-color: rgba(50, 65, 87, 0.664);
    color: white;
}
.save-city {
    background-color: rgb(175, 175, 173);
    text-align: center;
}

